<%= render partial: 'errors', locals: {list: @list} %>

<p>Create a new list</p>
<%= render partial: 'form', locals: {list: @list} %>

<p><%= render '/users/home' %> <%= render '/users/logout' %></p>
