<% if @category.errors.any? %>
  <div class="alert alert-danger" role="alert">

    <h2>
      <%= pluralize(@category.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>