<%= form_for @category do |f| %>
<div class='form-group'>
<%= f.text_field :name %>
</div>
<%= f.hidden_field :user_id, :value => current_user.id %><br>
<%= f.submit category.persisted? ? 'Update Category': 'Create Category', class:"btn btn-primary" %><br>
<% end %>