<h1>Categories</h1>

<table class="table">
    <thead>
    <tbody>
<% Category.all.order(:name).each do |category| %>
        <tr>
            <td>
                <%= link_to category.name, category %>
            </td>
        </tr>
<% end %>
    </tbody>
</table>
